# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# MacOS System Files
.DS_Store

# Win System Files
Thumbs.db

# Idea
.idea/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
bin/
obj/

# NodeJS
node_modules/
